<body>
    {{> header}}
    <h2>{{screamIt tagLine}}</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint accusantium soluta nihil ut iste consequatur.</p>
    <a href="#">iPhone Locator</a>
    <a href="#">Blog App in Node</a>
    <a href="#">Photography in Vue.Js</a>
    {{> footer}}
</body>